@use "../../scss/functions" as *;
@use "../../scss/variables" as *;
@use "../../scss/layout" as *;
@use "../../scss/mixins" as *;

//projects
.projects {
  margin-bottom: 80px;

  //projects header
  &__header {
    @include flex(space-between, center);
    margin-bottom: 40px;
  }

  //projects grid
  &__grid {
    display: grid;
    grid-gap: 40px;
    margin-bottom: 100px;
  }
}

@include md {
  //projects
  .projects {
    margin-bottom: 100px;

    //projects header
    &__header {
      margin-bottom: 60px;
    }

    //projects grid
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px 20px;
    }
  }
}

@include lg {
  //projects
  .projects {
    margin-bottom: 140px;

    //projects header
    &__header {
      margin-bottom: 80px;
    }

    //projects grid
    &__grid {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 70px 30px;
    }
  }
}
