@use "../../scss/functions" as *;
@use "../../scss/layout" as *;
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

//hero section
.hero {
  position: relative;
  text-align: center;
  margin-bottom: 80px;

  //hero title
  &__title {
    margin-bottom: 30px;

    span {
      position: relative;
      color: $green;
    }
  }

  //hero text
  &__text {
    max-width: 445px;
    margin: 0 auto 30px auto;
    color: $grey;
  }
}

@include md {
  //hero
  .hero {
    margin-bottom: 60px;

    //header content title
    &__title {
      margin-bottom: 60px;

      span::after {
        height: 6px;
      }
    }

    //hero text
    &__text {
      margin: 0 auto 60px auto;
    }
  }
}
