@use "./mixins" as *;
@use "./functions" as *;
@use "./variables" as *;

h1,
h2,
h3 {
  font-weight: 700;
}

h1,
h2 {
  font-size: rem(34);
  line-height: rem(34);
  letter-spacing: -1.14px;
  color: $white;
}

@include md {
  h1,
  h2 {
    font-size: rem(72);
    line-height: rem(72);
    letter-spacing: -2.05px;
  }
}

@include xl {
  h1,
  h2 {
    font-size: rem(88);
    line-height: rem(88);
    letter-spacing: -2.5px;
  }
}
